<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- <meta charset="ISO-8859-1"> -->
<!-- <title>User</title> -->

<!-- <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" /> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<table class="table"> -->
<!-- 		<thead> -->
<!-- 			<tr> -->
<!-- 				<th>Employee First Name</th> -->
<!-- 				<th>Employee Last Name</th> -->
<!-- 				<th>Employee Email</th> -->
<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr th:each="user : ${users}"> -->
<!-- 				<td th:text="${user.firstName}"></td> -->
<!-- 				<td th:text="${user.lastName}"></td> -->
<!-- 				<td th:text="${user.email}"></td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->
<!-- 	Welcome <span sec:authentication="principal.username"> User</span> -->
<!-- </body> -->
<!-- </html> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
	     <form action="/user" class="form-inline">
	        <div class="form-group mb-2">
	         <input type="text" class="form-control" name="name" placeholder="Search User" />
	         <input type="submit" value="Search"  class="btn btn-primary"/>
	        </div>
	     </form>
		<div class="card">
			<div class="card card-body">
	<table class="table">
		<thead>
			<tr>
				<th>Employee First Name</th>
				<th>Employee Last Name</th>
				<th>Employee Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${user}">
				
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
			</tr>
		</tbody>
	</table>
			</div>
		</div>
	</div>
</body>
</html>