@charset "ISO-8859-1";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}
* {
  font-family: 'Montserrat', sans-serif;
 
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: -18px auto 4px auto;
    top: 0;
    line-height: 14px;

  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
  
  .cont{
    width: 20%;
    height: 100px;
    background: linear-gradient(to bottom right,#318cb6,#124364);
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 0 7px black;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin-left: 5.5%;
    margin-right: 6.5%;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 111px;
}
.cont i{
    color: aliceblue;
    font-size: 25px;
}
.cont div{
    margin-top: 75px;
    background: linear-gradient(to bottom right,#4d1010,#551133);
    height: 100%;
    padding-top: 25px;
    box-shadow: 0 0 7px black;
    opacity: 1;
    transition: all 0.2s ease;
}
.cont div span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.2s ease;
}

span{
	color: white;
}
.cont div button{
    margin-top: 20px;
    border: none;
    height: 20px;
    width: 30%;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 7px black;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cont:hover div button{
    opacity: 1;
}

.cont:hover div{
    opacity: 1;
}
  
}